<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'base/head.html' %}
</head>
<body>
    <header>
        {% include 'base/header.html' %}
    </header>
    {% block container %}
    {% endblock %}
    <article>
        {% if art %}
            {% block picbox %}{% endblock %}
            {% block blogs %}{% endblock %}
        {% endif %}
        {% if xq %}
            {% block positon %}{% endblock %}
            {% block detail %}{% endblock %}
        {% endif %}
        {% block sider %}{% endblock %}
    </article>
    <footer>
        {% include 'base/footer.html' %}
    </footer>
    <a href="#" class="cd-top">Top</a>
</body>
</html>