{% load staticfiles %}
<div class="picsbox">
<div class="banner">
<div id="banner" class="fader">
    {% for left in top.left %}
        <li class="slide" ><a href="/info/{{ left.target.first.id }}" ><img src=/uploads/{{ left.target.first.cover }}>
      <span class="imginfo">{{ left.target.first.title }}</span></a></li>
    {% endfor %}
  <div class="fader_controls">
    <div class="page prev" data-target="prev">&lsaquo;</div>
    <div class="page next" data-target="next">&rsaquo;</div>
    <ul class="pager_list">
    </ul>
  </div>
</div>
</div>
<!--banner end-->
<div class="toppic">
{% for right in top.right %}
    <li>
        <a href="/info/{{ right.target.first.id }}" >
            <i>
                <img src=/uploads/{{ right.target.first.cover }}>
            </i>
        <h2>{{ right.target.first.title }}</h2>
        <span>{{ right.target.first.cts.get_pre_cts_display}}</span> </a>
    </li>
{% endfor %}
</div>
</div>