<div class="music-lgin" style="display: none;position: fixed;" >
<!--1-->
    <div class="link_tag">
        <div class="music-lgin-text">
            <input class="inputname inputs" id="webname" type="text" placeholder="网站名称" onchange="web_name_exist()">
        </div>
        <!--2-->
        <div class="music-lgin-text">
            <input type="text" class="mima inputs" id="weblink" placeholder="网站地址" onchange="web_link_exist()"/>
        </div>
        <div class="music-lgin-text">
            <input type="text" class="mima inputs" id="webemail" placeholder="联系邮箱" onchange="web_email_exist()"/>
        </div>
        <!--3-->
        <div class="music-lgin-text">
{#            <button class="music-qd inputs">提交</button>#}
            <input class="music-qd inputs" id="submit" type="button" value="提交"/>
        </div>
    <div/>
</div>
{% load staticfiles %}
<script type="text/javascript" src="{% static 'layer/layer.js' %}"></script>
<script type="text/javascript">
    var sub1 = false;
    var sub2 = false;
    var sub3 = false;
    $("#submit").click(function (event) {
       var web_name = $("#webname");
       var web_link = $("#weblink");
       var web_email = $("#webemail");
       if (!web_name.val()){
           web_name.addClass("input-error");
           layer.msg("网站名称不能为空")
       }else if (!web_link.val()){
           web_link.addClass("input-error");
           layer.msg("链接不能为空")
       }else if (!web_email.val()){
           web_email.addClass("input-error");
           layer.msg("e邮箱不能为空")
       }else {
           if (sub1 == true && sub2 == true && sub3==true){
               $.ajax({
                   url: "/add_link/",
                   dataType:"json",
                   type: "post",
                   data:{
                       csrfmiddlewaretoken: '{{ csrf_token }}',
                       "name": web_name.val(),
                       "link": web_link.val(),
                       "email": web_email.val(),
                      },
                   success:function(res){
                       if (res.code == 200){
                           layer.msg("提交成功");
                           web_name.val('');
                           web_email.val('');
                           web_link.val('');
                           document.getElementsByClassName("music-lgin")[0].style.display='none';
                           sub1 = false;
                           sub2 = false;
                           sub3 = false
                       }
                       else {
                           layer.msg(res.msg)
                       }
                   }
               })
           }
           else {
               layer.msg("所填信息有误")
           }
       }
    });
    function web_name_exist() {
        $.ajax({
            url: '/web_exist/',
            type: 'get',
            data: {
                name: $("#webname").val(),
                type: 'web_name'
            },
            success(res){
                if (res.code == 200){
                    sub1 = true;
                }else {
                    sub1 = false;
                }
                layer.msg(res.msg)
            }
        })
    };
    function web_link_exist() {
        $.ajax({
            url: '/web_exist/',
            type: 'get',
            data: {
                name: $("#weblink").val(),
                type: 'web_link'
            },
            success(res){
                if (res.code == 200){
                    sub2 = true;
                }else {
                    layer.msg(res.msg)
                    sub2 = false
                }
                layer.msg(res.msg)
            }
        })
    };
    function web_email_exist() {
        $.ajax({
            url: '/web_exist/',
            type: 'get',
            data: {
                name: $("#webemail").val(),
                type: 'web_email'
            },
            success(res){
                if (res.code == 200){
                    sub3 = true;
                }else {
                    sub3 = false
                }
                layer.msg(res.msg)
            }
        })
    }
</script>
</div>