<div class="newsview">
      <h3 class="news_title">{{ blog.title }}</h3>
      <div class="bloginfo">
        <ul>
          <li class="author"><a href="/">{{ blog.author }}</a></li>
          <li class="lmname"><a href="/">{{ blog.cts }}</a></li>
          <li class="timer">{{ blog.created_at }}</li>
          <li class="view">{{ blog.read }}</li>
          <li class="like">{{ blog.like }}</li>
        </ul>
      </div>
      <div class="tags">
          {% for tag in blog.tags.all %}
            <a href="/" target="_blank">{{ tag }}</a>
            &nbsp;
          {% endfor %}
      </div>
      <div class="news_about">
          {% if blog.desc %}
              <strong>简介</strong>
{#          个人博客，用来做什么？我刚开始就把它当做一个我吐槽心情的地方，也就相当于一个网络记事本，写上一些关于自己生活工作中的小情小事，也会放上一些照片，音乐。每天工作回家后就能访问自己的网站，一边听着音乐，一边写写文章。#}
                {{ blog.desc }}
          {% endif %}

      </div>
      <div class="news_con">
          {{ blog.content | safe }}
          &nbsp;
      </div>
    </div>