{% load staticfiles %}
{% if xq %}
    <div class="sidebar" style="padding: 0">
{% else %}
    <div class="sidebar">
{% endif %}

<div class="zhuanti">
  <h2 class="hometitle">特别推荐</h2>
  <ul>
      {% for top in sider.is_top %}
          <li>
              <i><img src=/uploads/{{ top.cover }}></i>
              <p>{{ top.title }}
                  <span>
                      <a href="/info/{{ top.id }}">阅读</a>
                  </span>
              </p>
          </li>
      {% endfor %}
  </ul>
</div>
<div class="tuijian">
  <h2 class="hometitle">推荐文章</h2>
  <ul class="tjpic">
    <i><img src=/uploads/{{ sider.t_fine.cover }}></i>
    <p><a href="/info/{{ sider.t_fine.id }}">{{ sider.t_fine.desc }}</a></p>
  </ul>
  <ul class="sidenews">
      {% for fine in sider.is_fine %}
          <li>
              <i><img src=/uploads/{{ fine.cover }}></i>
              <p><a href="/info/{{ fine.id }}">{{ fine.desc }}</a></p>
              <span>{{ fine.created_at }}</span>
          </li>
      {% endfor %}
  </ul>
</div>
<div class="tuijian">
  <h2 class="hometitle">点击排行</h2>
  <ul class="tjpic">
    <i><img src=/uploads/{{ sider.t_like.cover }}></i>
    <p><a href="/info/{{ sider.t_like.id }}">{{ sider.t_like.desc }}</a></p>
  </ul>
  <ul class="sidenews">
      {% for lk in sider.like %}
          <li>
              <i><img src=/uploads/{{ lk.cover }}></i>
              <p><a href="/info/{{ lk.id }}">{{ lk.desc }}</a></p>
              <span>2018-05-13</span>
          </li>
      {% endfor %}
  </ul>
</div>
<div class="cloud">
  <h2 class="hometitle">标签云</h2>
  <ul>
      {% for tag in sider.tags %}
          <a href="/get_tag/{{  tag.id }}">{{ tag.name }}</a>
      {% endfor %}
  </ul>
</div>
<div class="links">
  <h2 class="hometitle">友情链接</h2>
  <ul>
      {% for link in sider.links %}
          <li><a href="{{ link.link }}" target="_blank">{{ link.name }}</a></li>
      {% endfor %}
    <input class="music-qd inputs" type="button" value="添加友情链接" onclick="show()"/>
  </ul>
</div>
<div class="guanzhu" id="follow-us">
  <h2 class="hometitle">关注我 么么哒！</h2>
  <ul>
    <li class="qq"><a href="javascript:;" target=""><span>QQ号</span>710813711</a></li>
    <li class="email"><a href="javascript:;" target=""><span>邮箱帐号</span>guojiahong2019@126.com</a></li>
    <li class="wxgzh"><a href="javascript:;" target=""><span>微信号</span>loveH7241</a></li>
    <li class="wx"><img src="{% static 'images/WechatIMG2.jpeg' %}"></li>
  </ul>
</div>
</div>
<script type="text/javascript">
    function show() {
        var login = document.getElementsByClassName("music-lgin")[0];
        {#console.log(login.style.display);#}
        if (login.style.display == "none"){
            $("#webname").val('');
            $("#weblink").val('');
            $("#webemail").val('');
            login.style.setProperty("display", '')
        }else {
            login.style.setProperty("display", 'none')
        }
    }
</script>