<div class="pagebg sh"></div>
<div class="container">
  <h1 class="t_nav">
        <span>{{ famous }}</span>
      {% if topic == "编程语言" %}
          <a href="/" class="n1">网站首页</a><a href="/language" class="n2">{{ topic }}</a></h1>
      {% elif topic == "学习笔记" %}
          <a href="/" class="n1">网站首页</a><a href="/study" class="n2">{{ topic }}</a></h1>
      {% elif topic == "日常生活" %}
          <a href="/" class="n1">网站首页</a><a href="/life" class="n2">{{ topic }}</a></h1>
      {% elif topic == "灵光一现" %}
          <a href="/" class="n1">网站首页</a><a href="/inspiration" class="n2">{{ topic }}</a></h1>
      {% elif tag_info %}
          <a href="/" class="n1">网站首页</a><a href="/get_tag/{{ target_tag_id }}/{{ target_tag }}" class="n2">{{ target_tag }}</a></h1>
      {% else %}
          <a href="/" class="n1">网站首页</a><a href="/sub_info/{{ topic.id }}" class="n2">{{ topic.cts }}</a></h1>
      {% endif %}
  <!--blogsbox begin-->
    {% include 'base/article-detail/blogs.html' %}

    {% include 'base/article-detail/side.html' %}
</div>
